.AddToFavsBtn, .DeleteFromFavs {
  max-width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: 100ms;
}

.AddToFavsBtn:hover, .DeleteFromFavs:hover {
  scale: 1.1;
}


