main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  max-width: 95%;
}

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr) 7fr;
  justify-content: center;
  justify-items: center;
  align-items: start;
  gap: 0.5em;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
  }
}

.my-masonry-grid {
  display: flex;
  justify-content: center;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 10px;
}
