:root {
  --primary-font: 'Kodchasan', sans-serif;

  --text-color: #fcfaff;
  --bg-color: #070014;
  --bg-secondary-color: #3e374e;
  --primary-color: #b696fd;
  --accent-color: #ff955c;

  --shadow-color: 260deg 23% 8%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color)
}

.my-masonry-grid {
  display: flex;
  justify-content: center;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 10px;
}