.Favs {
  background: var(--bg-secondary-color);
  display: none;
  position: fixed;
  padding: 0.5em;
  right: 0px;
  top: 0px;
  width: 300px;
}

.Favs-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  border-radius: 9999px;
  cursor: pointer;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  position: fixed;
  z-index: 9999;
  right: 0.5em;
  bottom: 0.5em;
  transition: all 0.3s ease;
}

.Favs-btn:hover {
  scale: 1.1;
}

.Favs-btn ~ input:checked ~ .Favs {
  height: 100%;
  display: block;
}
