.Favs {
  margin: 0;
  padding: 0.5em;
  width: 280px;
  height: 100%;
  
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: max-content;
  justify-content: center;
  justify-items: center;
  align-items: start;
  gap: 0.5em;

  position: fixed;
  right: 0px;
  top: 0px;
  
  background: var(--bg-secondary-color);
  box-shadow: -1px 0px 0.8px hsl(var(--shadow-color) / 0.81),
  -1.2px 0px 0.9px -0.6px hsl(var(--shadow-color) / 0.73),
  -2.6px 0px 2px -1.1px hsl(var(--shadow-color) / 0.65),
  -6.5px 0px 4.9px -1.7px hsl(var(--shadow-color) / 0.57),
  -14.1px 0px 10.6px -2.2px hsl(var(--shadow-color) / 0.49),
  -26.5px 0px 19.9px -2.8px hsl(var(--shadow-color) / 0.41),
  -45.1px 0px 33.8px -3.3px hsl(var(--shadow-color) / 0.33),
  -71.1px 0px 53.3px -3.9px hsl(var(--shadow-color) / 0.24),
  -105.6px 0px 79.2px -4.4px hsl(var(--shadow-color) / 0.16),
  -150px 0px 112.5px -5px hsl(var(--shadow-color) / 0.08);
}

.Favs-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  border-radius: 9999px;
  cursor: pointer;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  position: fixed;
  z-index: 9999;
  right: 0.5em;
  bottom: 0.5em;
  transition: all 0.3s ease;
}

.Favs-btn:hover {
  scale: 1.1;
}

.FavsCheckbox:checked ~ .Favs {
  display: grid;
}

.FavsCheckbox:checked ~ .Favs-btn {
  right: 285px;
}

.ListOfFavs {
  padding: 0.5em;
  margin: 0;
  width: 100%;
  max-height: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: center;
  align-items: start;
  gap: 0.5em;
  overflow: scroll;
}

.ListOfFavs::-webkit-scrollbar {
  display: none;
}

